.bytemd, .bytemd .cm-s-default, .bytemd-toolbar, .bytemd-status, .bytemd-preview, .markdown-body {
  background-color: var(--bytemd-editor-bg) !important;
  color: var(--bytemd-editor-color) !important;
  border-color: var(--color-bg-0) !important;
}

.bytemd-toolbar {
  background-color: var(--bytemd-toolbar-bg) !important;
  color: var(--bytemd-toolbar-color) !important;
  border-color: var(--color-bg-0) !important;
}

.cm-header, .cm-variable-2, .cm-url {
  color: var(--color-theme-1) !important;
}

.cm-image {
  font-weight: bold;
  color: var(--color-theme-2) !important;
}

.cm-quote {
  font-style: italic;
}