.tabulator {
    background-color: var(--color-bg-3) !important;
}

.tabulator-headers {
    color: var(--color-text);
    background-color: var(--color-bg-2) !important;
}

.tabulator-row {
    overflow: hidden;
    color: var(--color-text);
}

.tabulator-row.tabulator-selected,
.tabulator-row.tabulator-row-even.tabulator-selected {
    background-color: var(--color-theme-2) !important;
    color: var(--color-text) !important;
}

.tabulator .tabulator-cell.tabulator-row-header input[type="checkbox"],
.tabulator .tabulator-header .tabulator-col.tabulator-row-header input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    accent-color: var(--color-theme-1); // optional: Häkchen-Farbe
}

.tabulator-row.tabulator-row-even {
    background-color: var(--color-bg-2) !important;
}

.tabulator-cell {
    overflow: scroll;
    align-content: center;
}

.tabulator-popup-container, 
.tabulator-menu-item {
    background-color: var(--color-bg-2) !important;
}

.tabulator-menu-item:hover {
    background-color: var(--color-bg-0) !important;
}

.content-preview {
    white-space: normal !important;
    overflow: auto !important;
}

@media (prefers-color-scheme: dark) {
    .tabulator-row, 
    .tabulator-header,
    .tabulator-cell {
      border-color: #2b2b2b !important;
    }
}

@media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-selectable:hover {
        background-color: var(--color-bg-0) !important;
        cursor: pointer;
    }
}

@media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-selected:hover,
    .tabulator-row.tabulator-row-even.tabulator-selected:hover {
        background-color: var(--color-theme-1) !important;
        color: var(--color-text-hl) !important;
    }
}