.tabulator {
    background-color: var(--color-bg-3) !important;
}

.tabulator-headers {
    color: var(--color-text);
    background-color: var(--color-bg-2) !important;
}

.tabulator-row {
    overflow: hidden;
    color: var(--color-text);
}

.tabulator-row.tabulator-row-even {
    background-color: var(--color-bg-2) !important;
}

.tabulator-cell {
    overflow: scroll;
    align-content: center;
}

.tabulator-popup-container, 
.tabulator-menu-item {
    background-color: var(--color-bg-2) !important;
}

.tabulator-menu-item:hover {
    background-color: var(--color-bg-0) !important;
}

.content-preview {
    white-space: normal !important;
    overflow: auto !important;
}