.tabulator-headers {
    background-color: var(--color-bg-2) !important;
}

.tabulator-row {
    overflow: hidden;
}

.tabulator-row.tabulator-row-even {
    background-color: var(--color-bg-2) !important;
}

.tabulator-cell {
    overflow: scroll;
    align-content: center;
}

.content-preview {
    white-space: normal !important;
    overflow: auto !important;
}